{% extends 'base.html.twig' %}

{% block body %}
    <H1>Welcome to SFDay 2024 @127.0.01</H1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <button type="submit" class="btn btn-success">login</button>
    </form>
{% endblock %}